/* fonts */
@font-face {
    font-family: noto;
    src: url(../fonts/Noto_Sans/NotoSansJP-Regular.otf);

}

@font-face {
    font-family: quite-magical;
    src: url(../fonts/quite-magical-font/QuiteMagicalRegular-8VA2.ttf);
}

/* basics */
* {
    box-sizing: border-box;
    font-family: noto;
}

body {
    margin: 0;
}

main {
    padding: 0.6% 0;
}

li {
    cursor: pointer;
    text-transform: uppercase;
}

li:hover {
    text-decoration: underline;
}

/* nav */

header {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(158, 57, 57);
    color: white;
    padding: 0 5%;
}

header .logo {
    font-family: quite-magical;
    font-size: 40px;
    cursor: pointer;
}

header nav {
    width: 30%;
    /* box-sizing: content-box; */
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* background-color: white; */
}

.gallery-container img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.image {
    display: inline;
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    /* border: 4px solid black; */
}

.meme-settings img {
    border-radius: 0;
}

.meme-settings button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
}


.nav-screen {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}
/* meme gallery */

/* meme editor */

.meme-editor-container {
    background-color: rgb(243, 240, 240);
    height: 90vh;
    width: 100%;
    border-radius: 20px;
    /* padding: 0 3%; */
}

.meme-settings {
    background-color: rgb(226, 226, 226);
    width: 50%;
    height: 90%;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    border-radius: 20px;
}

.text {
    grid-column: 1/span 4;
    width: 80%;
    height: 30px;
}

.add-text{
    grid-column: 5;
}

.delete-btn {
    grid-row: 2;
    grid-column: 3;
}

.add-line {
    grid-row: 2;
    grid-column: 4;
}

.switch-btn {
    grid-row: 2;
    grid-column: 2;
}

.impact {
    grid-row: 4;
    grid-column: 1/span 3;
    height: 30px;
    width: 70%;
}

.fill-color {
    grid-row: 4;
    grid-column: 4;
}

.border-color {
    grid-row: 4;
    grid-column: 5;
}

    
.fill-color img{
    width: 40px;
}

.border-color img{
    width: 40px;
}

.font-size-plus {
    grid-row: 3;
    grid-column: 1;
}

.font-size-minus {
    grid-row: 3;
    grid-column: 2;
}

.align-left {
    grid-row: 3;
    grid-column: 5;
}

.align-center {
    grid-row: 3;
    grid-column: 4;
}

.align-right {
    grid-row: 3;
    grid-column: 3;
}

.download-btn {
    width: 70px;
    height: 40px;
    grid-row: 5;
    grid-column: 5;
    background-color: rgb(198, 255, 198);
    text-decoration: none;
    border-radius: 20px;
}

.btn-up{
    grid-row: 5;
    grid-column: 2;
}

.btn-down{
    grid-row: 5;
    grid-column: 1;
}


.burger-menu{
    display: none;
    cursor: pointer;
    font-size: 40px;
    border: none;
    color: white;
    background-color: transparent;
}
/* helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex.grow {
    flex-grow: 1;
}

.shown {
    display: block;
}

.shown-childs>* {
    display: block;
}

.hidden {
    display: none;
}

.hidden-childs>* {
    display: none;
}

.grid {
    display: grid;
}

/* .column3 {
    grid-column: 2/span 3;
} */

.grid-center {
    justify-self: center;
    align-self: center;
}

@media only screen and (max-width: 850px) {
    .meme-settings {
        width: 40%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .text {
        grid-column: 1/span 4;
        width: 80%;
    }

    .impact {
        grid-row: 6;
        grid-column: 2/span 4;
    }

    .fill-color {
        grid-row: 5;
        grid-column: 3;
    }

    .border-color {
        grid-row: 5;
        grid-column: 4;
    }

    .align-left {
        grid-column: 4;
    }

    .align-center {
        grid-column: 3;
    }

    .align-right {
        grid-column: 2;
    }

    .font-size-plus {
        grid-row: 4;
        grid-column: 4;
    }

    .font-size-minus {
        grid-row: 4;
        grid-column: 3;
    }

    .download-btn {
        grid-row: 7;
        grid-column: 4;
    }

}

@media only screen and (max-width: 720px) {
    .meme-editor-container {
        flex-direction: column;
    }

    .meme-settings {
        height: 30%;
        width: 80%;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    /* header{
    position: fixed;
} */

.burger-menu{
    display: block;
}
    .nav-list {
        flex-direction: column;
        height: 100%;
        width: 250px;
        background-color: rgb(158, 57, 57);
        position: fixed;
        padding: 70px 50px;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: transform 0.6s;
        z-index: 2;
    }

    .nav-list>* {
        margin: 90px 0;
    }

    .nav-list.openNav {
        transform: translateX(0)
    }

    .meme-settings button {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 10px;
    }


    .text {
        grid-column: 1/span 3;
        width: 80%;
        height: 30px;
    }

    .add-text{
        grid-column: 4;
    }

    .delete-btn {
        grid-row: 1;
        grid-column: 6;
    }

    .add-line {
        grid-row: 1;
        grid-column: 7;
    }

    .switch-btn {
        grid-row: 1;
        grid-column: 5;
    }

    .impact {
        grid-row: 3;
        grid-column: 1/span 2;
        height: 30px;
        width: 70%;
    }

    .fill-color {
        grid-row: 2;
        grid-column: 6;
        font-size: 10px;
    }

    .border-color {
        grid-row: 2;
        grid-column: 7;
        font-size: 10px;
    }
    
    .fill-color img{
        width: 30px;
    }

    .border-color img{
        width: 30px;
    }

    .font-size-plus {
        grid-row: 2;
        grid-column: 1;
    }

    .font-size-minus {
        grid-row: 2;
        grid-column: 2;
    }

    .align-left {
        grid-row: 2;
        grid-column: 5;
    }

    .align-center {
        grid-row: 2;
        grid-column: 4;
    }

    .align-right {
        grid-row: 2;
        grid-column: 3;
    }

    .download-btn {
        width: 50px;
        height: 30px;
        grid-row: 3;
        grid-column: 5;
        border-radius: 20px;
    }

    .btn-up{
        grid-row: 3;
        grid-column: 3;
    }
    
    .btn-down{
        grid-row: 3;
        grid-column: 4;
    }

}