/* fonts */
@font-face {
    font-family: noto;
    src: url(../fonts/Noto_Sans/NotoSansJP-Regular.otf);

}

@font-face {
    font-family: quite-magical;
    src: url(../fonts/quite-magical-font/QuiteMagicalRegular-8VA2.ttf);
}

/* basics */
* {
    box-sizing: border-box;
    font-family: noto;
}

body {
    margin: 0;
}

main {
    padding: 0.6% 0;
}

li {
    cursor: pointer;
    text-transform: uppercase;
}

li:hover {
    text-decoration: underline;
}

/* nav */

header {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(158, 57, 57);
    color: white;
    padding: 0 5%;
}

header .logo {
    font-family: quite-magical;
    font-size: 40px;
}

header nav {
    width: 30%;
    /* box-sizing: content-box; */
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* background-color: white; */
}

.gallery-container img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.image {
    display: inline;
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    /* border: 4px solid black; */
}

.meme-settings img{
    border-radius: 0;
}

.meme-settings button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
}

/* meme gallery */

/* meme editor */

.meme-editor-container {
    background-color: rgb(243, 240, 240);
    height: 80vh;
    width: 100%;
    border-radius: 20px;
    padding: 0 3%;
}


.meme-settings {
    background-color: rgb(226, 226, 226);
    width: 60%;
    height: 60vh;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    border-radius: 20px;
}

.text {
    grid-column: 1/span 5;
    width: 500px;
    height: 30px;
}

.delete-btn {
    grid-row: 2;
    grid-column: 3;
}

.add-text {
    grid-row: 2;
    grid-column: 4;
}

.switch-btn {
    grid-row: 2;
    grid-column: 2;
}

.impact {
    grid-row: 4;
    grid-column: 1/span 3;
    height: 30px;
    width: 200px;
}

.fill-color {
    grid-row: 4;
    grid-column: 4;
}

.border-color {
    grid-row: 4;
    grid-column: 5;
}

.font-size-plus {
    grid-row: 3;
    grid-column: 1;
}

.font-size-minus {
    grid-row: 3;
    grid-column: 2;
}

.align-left {
    grid-row: 3;
    grid-column: 5;
}

.align-center {
    grid-row: 3;
    grid-column: 4;
}

.align-right {
    grid-row: 3;
    grid-column: 3;
}

.download-btn {
    width: 70px;
    height: 40px;
    grid-row: 5;
    grid-column: 5;
    background-color:rgb(198, 255, 198);
    text-decoration: none;
    border-radius: 20px;
}


/* helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex.grow {
    flex-grow: 1;
}

.shown {
    display: block;
}

.shown-childs>* {
    display: block;
}

.hidden {
    display: none;
}

.hidden-childs>* {
    display: none;
}

.grid {
    display: grid;
}

/* .column3 {
    grid-column: 2/span 3;
} */

.grid-center {
    justify-self: center;
    align-self: center;
}