/* fonts */
@font-face {
    font-family: noto;
    src: url(../fonts/Noto_Sans/NotoSansJP-Regular.otf);

}

@font-face {
    font-family: quite-magical;
    src: url(../fonts/quite-magical-font/QuiteMagicalRegular-8VA2.ttf);
}

/* basics */
* {
    box-sizing: border-box;
    font-family: noto;
}

body {
    margin: 0;
}

main {
    padding: 0.6% 0;
}

li {
    cursor: pointer;
    text-transform: uppercase;
}

li:hover {
    text-decoration: underline;
}

/* nav */

header {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(158, 57, 57);
    color: white;
    padding: 0 5%;
}

header .logo {
    font-family: quite-magical;
    font-size: 40px;
    cursor: pointer;
}

header nav {
    width: 30%;
    /* box-sizing: content-box; */
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* background-color: white; */
}

.gallery-container img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.image {
    display: inline;
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    /* border: 4px solid black; */
}

.meme-settings img {
    border-radius: 0;
}

.meme-settings button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
}


.nav-screen {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

/* meme gallery */

/* meme editor */

.meme-editor-container {
    background-color: rgb(243, 240, 240);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    /* padding: 0 3%; */
}

.meme-settings {
    background-color: rgb(226, 226, 226);
    width: 50%;
    height: 90%;
    /* 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr); */
    gap: 5px;
    border-radius: 20px;
    margin-bottom: 50px;

}

.text-actions-container {

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    padding: 20px;
}

.text {
    grid-column: 1/span 3;

    border-radius: 10px;
    border: none;
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
}


.delete-btn {
    grid-row: 2;
    grid-column: 2;
}

.add-line {
    grid-row: 2;
    grid-column: 1;
}

.switch-btn {
    grid-row: 2;
    grid-column: 3;
}


.text-changing-inline {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: rgb(206, 206, 206);
    width: 90%;
    border-radius: 20px;
    padding: 20px;
}

.fontSize {
    grid-row: 1;
    grid-column: span 5;
    width: 70%;
}

.impact {
    grid-row: 2;
    grid-column: 2/span 3;
    height: 30px;
    width: 70%;
}

.fill-color {
    grid-row: 4;
    grid-column: 4;
}

.align-left {
    grid-row: 3;
    grid-column: 4;
}

.align-center {
    grid-row: 3;
    grid-column: 3;
}

.align-right {
    grid-row: 3;
    grid-column: 2;
}

.colors-container {
    grid-row: 4;
    grid-column: 1/span 5;
    width: 100%;
    padding-top: 20px;
}

.fill-color img {
    width: 40px;
}

.border-color img {
    width: 40px;
}

.download-btn {
    width: 70px;
    height: 40px;
    grid-row: 4;
    grid-column: 3;
    background-color: rgb(198, 255, 198);
    text-decoration: none;
    border-radius: 20px;
}

.bottom {
    grid-template-columns: repeat(2, 3fr, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: rgb(206, 206, 206);
    padding: 20px;
    width: 90%;
    border-radius: 20px;
    margin-top: 20px;
}

.bottom * {
    width: 40px;
}

.arrows-container {
    grid-row: 4;
    grid-column: 1/span 2;
    width: 70%;
}

.arrows-container>* {
    margin-right: 20px;
    background-color: transparent;
    /* width: 40px; */
}

.btn-up {
    order: 2;
}

.btn-down {
    order: 3;
}

.btn-right {
    order: 4;
}

.btn-left {
    order: 1;
}


.burger-menu {
    display: none;
    cursor: pointer;
    font-size: 40px;
    border: none;
    color: white;
    background-color: transparent;
}

/* helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-self {
    justify-self: center;
    align-self: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex.grow {
    flex-grow: 1;
}

.shown {
    display: block;
}

.shown-childs>* {
    display: block;
}

.hidden {
    display: none;
}

.hidden-childs>* {
    display: none;
}

.grid {
    display: grid;
}

/* .column3 {
    grid-column: 2/span 3;
} */

.grid-center {
    justify-self: center;
    align-self: center;
}

@media only screen and (max-width: 850px) {
    .meme-settings {
        width: 40%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .text {
        grid-column: 1/span 4;
        width: 80%;
    }

    .impact {
        grid-row: 3;
        grid-column: 2/span 3;
    }

    .fill-color {
        grid-row: 5;
        grid-column: 3;
    }

    .border-color {
        grid-row: 5;
        grid-column: 4;
    }

    .align-left {
        grid-row: 2;
        grid-column: 4;
    }

    .align-center {
        grid-row: 2;
        grid-column: 3;
    }

    .align-right {
        grid-row: 2;
        grid-column: 2;
    }

    .bottom {
        grid-template-columns: repeat(1, 3fr, 1fr);
        grid-template-rows: repeat(1, 1fr);
        border-radius: 20px;
        margin-bottom: 20px;
    }



    .arrows-container {
        grid-row: 1;
        grid-column: 1/span 2;
        width: 80%;
    }

    .arrows-container img {
        width: 30px;
        height: 30px;
    }

    .download-btn {
        width: 50px;
        height: 30px;
        grid-row: 1;
        grid-column: 2;
        border-radius: 20px;
    }

    .btn-up {
        grid-row: 3;
        grid-column: 3;
    }

    .btn-down {
        grid-row: 3;
        grid-column: 4;
    }

}

@media only screen and (max-width: 720px) {
    .meme-editor-container {
        flex-direction: column;
    }

    .meme-settings {
        height: 30%;
        width: 80%;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    /* header{
    position: fixed;
} */

    .burger-menu {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        height: 100%;
        width: 250px;
        background-color: rgb(158, 57, 57);
        position: fixed;
        padding: 70px 50px;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: transform 0.6s;
        z-index: 2;
    }

    .nav-list>* {
        margin: 90px 0;
    }

    .nav-list.openNav {
        transform: translateX(0)
    }

    .meme-settings button {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 10px;
    }

    .text-actions-container {

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);

        padding: 20px;
    }

    .text {
        grid-column: 1/span 3;
        width: 80%;
        height: 30px;
    }

    .add-text {
        grid-column: 4;
    }

    .delete-btn {
        grid-row: 1;
        grid-column: 6;
    }

    .add-line {
        grid-row: 1;
        grid-column: 5;
    }

    .switch-btn {
        grid-row: 1;
        grid-column: 7;
    }


    .text-changing-inline {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    .fontSize {
        grid-row: 1;
        grid-column: span 3;
        width: 70%;
    }

    .impact {
        grid-row: 1;
        grid-column: 4/span 5;
        height: 30px;
        width: 70%;
    }

    .colors-container {
        grid-row: 2;
        grid-column: 1;
        width: 20%;
        justify-content: center;
        align-items: center;
        padding-left: 70px;
    }

    .fill-color {
        grid-row: 2;
        grid-column: 1;
        margin-right: 50px;
    }

    .border-color {
        grid-row: 2;
        grid-column: 2;
        margin-right: 50px;

    }

    .fill-color img {
        width: 30px;
    }

    .border-color img {
        width: 30px;
    }


    .align-left {
        grid-row: 2;
        grid-column: 5;
    }

    .align-center {
        grid-row: 2;
        grid-column: 4;
    }

    .align-right {
        grid-row: 2;
        grid-column: 3;
    }


    .bottom {
        grid-template-columns: repeat(1, 3fr, 1fr);
        grid-template-rows: repeat(1, 1fr);
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .bottom * {
        width: 40px;
    }

    .arrows-container {
        grid-row: 1;
        grid-column: 1/span 2;
        width: 70%;
    }


    .download-btn {
        width: 50px;
        height: 30px;
        grid-row: 1;
        grid-column: 2;
        border-radius: 20px;
    }

    .btn-up {
        grid-row: 3;
        grid-column: 3;
    }

    .btn-down {
        grid-row: 3;
        grid-column: 4;
    }

}